@tailwind base;
@tailwind components;
@tailwind utilities;

/* Button Clip */
.button-primary {
  background: transparent;
}

.button-primary::before {
  content: "";
  position: absolute;
  inset: 0;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 10px),
    calc(100% - 10px) 100%,
    0 100%
  );
  border: 2px solid #15803d; /* green-700 */
  pointer-events: none;
}

.button-primary:hover::before {
  background: #15803d;
}

/* Heading */
@layer components {
  .main-heading {
    @apply text-black font-montserrat font-semibold text-5xl leading-[72px] tracking-normal;
  }
  .sub-heading {
    @apply text-secondary font-openSans font-normal text-2xl leading-[18px] tracking-normal
  }
}

.sp {
      box-shadow: 5px 12px 22.8px 0px #00000014;
    backdrop-filter: blur(121.0999984741211px);
    background: #00000075;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  scrollbar-width: none;
}


/* HARD OVERRIDE FOR STACKING */
.swiper {
  overflow: visible !important;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}


/* CK editor */
@layer components {
  .ck-editor__editable {
    @apply min-h-[200px];
  }
}
